# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terragrunt
.terragrunt-cache/
terragrunt-debug.tfvars.json

# Sensitive variables
*.tfvars
*.tfvars.json

